.auth-modal-box[data-v-6cb98ece] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 500
}

.auth-form[data-v-6cb98ece] {
  position: relative;
  padding: 2rem;
  width: 26.5rem;
  max-width: 100%;
  font-size: 1.167rem;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box
}

.close-btn[data-v-6cb98ece] {
  float: right;
  cursor: pointer;
  opacity: .4
}

.close-btn[data-v-6cb98ece]:hover {
  opacity: 1
}

.title[data-v-6cb98ece] {
  font-size: 1.5rem;
  margin: 0 0 2rem
}

.input-group[data-v-6cb98ece] {
  margin-bottom: .5rem;
  overflow: hidden
}

.input-box[data-v-6cb98ece] {
  position: relative;
  margin-bottom: .8rem
}

.input[data-v-6cb98ece] {
  padding: 1rem;
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box
}

.input[data-v-6cb98ece]:focus {
  border-color: #62ab00
}

.btn[data-v-6cb98ece] {
  width: 100%;
  height: 3.334rem;
  border: 0 none;
  color: #fff;
  background-color: #62ab00;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer
}

.btn[data-v-6cb98ece]:disabled {
  background-color: #909090;
  cursor: default
}

.send-vcode-btn[data-v-6cb98ece] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  color: #62ab00;
  line-height: 1;
  background-color: transparent
}

.send-vcode-btn[data-v-6cb98ece]:disabled {
  color: #909090;
  cursor: default
}

.send-vcode-btn[data-v-6cb98ece]:hover(:not(:disabled)) {
  opacity: .8
}

.prompt-box[data-v-6cb98ece] {
  margin: 1rem 0 0;
  color: #8b9196
}

.prompt-box.center[data-v-6cb98ece] {
  text-align: center
}

.prompt-box .right[data-v-6cb98ece] {
  float: right
}

.prompt-box .clickable[data-v-6cb98ece] {
  color: #62ab00;
  cursor: pointer
}

.oauth-box[data-v-6cb98ece] {
  margin-top: 2.3rem;
  font-size: 1rem;
  line-height: 1.9rem;
  color: #8b9196
}

.oauth-box .oauth-btn[data-v-6cb98ece] {
  margin-left: 1.2rem;
  height: 1.9rem;
  vertical-align: bottom;
  cursor: pointer
}

.panfish .normal[data-v-6cb98ece] {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10rem;
  -webkit-transform: translate(-50%, -83%);
  transform: translate(-50%, -83%);
  z-index: 1
}

.panfish .greeting[data-v-6cb98ece] {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10rem;
  -webkit-transform: translate(-50%, -75.8%);
  transform: translate(-50%, -75.8%);
  z-index: 1
}

.panfish .blindfold[data-v-6cb98ece] {
  position: absolute;
  top: 0;
  left: 50%;
  width: 8.6rem;
  -webkit-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);
  z-index: 1
}

.alert-list[data-v-2840e9c3] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000
}

.alert-list .alert[data-v-2840e9c3] {
  margin-bottom: 1rem
}

.alert[data-v-705be69c] {
  display: inline-block;
  padding: 1rem 2rem;
  max-width: 15rem;
  font-size: 1.167rem;
  color: #007bff;
  background-color: #e6f3ff;
  box-shadow: 0 1px 1px 0 hsla(0, 0%, 80%, .5);
  border: 1px solid #b3d0ef;
  border-radius: 2px;
  cursor: default
}

.suspension-panel[data-v-6ddb54c6] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1000
}
